<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title>@Page.Title</title>
        @RenderSection("head", required: false)
        <script src="@Url.Content("~/Scripts/doT.js")"></script>
        <script src="~/Scripts/jquery-1.10.2.js"></script>
    </head>
    <body>
        <h1>Product Information</h1>
        <div style="padding: 20px; border: solid medium black; font-size: 20pt">
            @RenderBody()
        </div>
        <h2>Visit <a href="http://apress.com">Apress</a></h2>
    </body>
    @RenderSection("Scripts", required: false)
</html>
